<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>icons</key>
	<array>
		<dict>
			<key>png_name</key>
			<string>Camera.png</string>
			<key>x</key>
			<integer>55</integer>
			<key>y</key>
			<integer>410</integer>
			<key>tag</key>
			<integer>97</integer>
			<key>stag</key>
			<integer>96</integer>
		</dict>
		<dict>
			<key>png_name</key>
			<string>Navigator.png</string>
			<key>x</key>
			<integer>125</integer>
			<key>y</key>
			<integer>410</integer>
			<key>tag</key>
			<integer>95</integer>
			<key>stag</key>
			<integer>94</integer>
		</dict>
		<dict>
			<key>png_name</key>
			<string>Comments.png</string>
			<key>x</key>
			<integer>195</integer>
			<key>y</key>
			<integer>410</integer>
			<key>tag</key>
			<integer>93</integer>
			<key>stag</key>
			<integer>92</integer>
		</dict>
		<dict>
			<key>png_name</key>
			<string>Drinks.png</string>
			<key>x</key>
			<integer>265</integer>
			<key>y</key>
			<integer>410</integer>
			<key>tag</key>
			<integer>91</integer>
			<key>stag</key>
			<integer>90</integer>
		</dict>
		<dict>
			<key>png_name</key>
			<string>MagicWand.png</string>
			<key>x</key>
			<integer>55</integer>
			<key>y</key>
			<integer>340</integer>
			<key>tag</key>
			<integer>89</integer>
			<key>stag</key>
			<integer>88</integer>
		</dict>
		<dict>
			<key>png_name</key>
			<string>Santa Trackr.png</string>
			<key>x</key>
			<integer>55</integer>
			<key>y</key>
			<integer>60</integer>
			<key>tag</key>
			<integer>87</integer>
			<key>stag</key>
			<integer>86</integer>
		</dict>
		<dict>
			<key>png_name</key>
			<string>Spells.png</string>
			<key>x</key>
			<integer>125</integer>
			<key>y</key>
			<integer>60</integer>
			<key>tag</key>
			<integer>85</integer>
			<key>stag</key>
			<integer>84</integer>
		</dict>
		<dict>
			<key>png_name</key>
			<string>go!.png</string>
			<key>x</key>
			<integer>195</integer>
			<key>y</key>
			<integer>60</integer>
			<key>tag</key>
			<integer>83</integer>
			<key>stag</key>
			<integer>82</integer>
		</dict>
		<dict>
			<key>png_name</key>
			<string>RockChik.png</string>
			<key>x</key>
			<integer>265</integer>
			<key>y</key>
			<integer>60</integer>
			<key>tag</key>
			<integer>81</integer>
			<key>stag</key>
			<integer>80</integer>
		</dict>
	</array>
</dict>
</plist>
